.App {
	min-height: 100%;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 150px 15px;
  display: flex;
  justify-content: center;
}

.counterBox {
  border: 2px solid #797676;
  border-radius: 15px;
  max-width: 500px;
  width: 100%;
  padding: 15px;
}

.counterBoxTitle {
  text-align: center;
  margin: 10px 0;
}
